# Logs

.logs/
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*

# Runtime data

pids
_.pid
_.seed
\*.pid.lock

# coverage
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)

build/Release

# Dependency directories

node_modules/
jspm_packages/

# Typescript v1 declaration files

typings/

# Optional npm cache directory

.npm

# Optional eslint cache

.eslintcache

# Optional REPL history

.node_repl_history

# Output of 'npm pack'

\*.tgz

# Yarn Integrity file

.yarn-integrity
package-lock.json

# dotenv environment variables file

.env

# OS and editor related

.DS_Store
.vscode

# exclude distribution files

dist/

tmp/
