# App's running environment
NODE_ENV=

# Server port
PORT=

# Database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Redis configuration
REDIS_HOST=
REDIS_PORT=

# Allowed Origins
ALLOWED_ORIGINS=

# Auth Token
HL_TOKEN=

# AWS Creds
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
